Options All -Indexes
RewriteEngine On
RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# Bloquea el acceso directo a archivos .php en las carpetas "controllers" y "models"
RewriteRule ^src/(controllers|models)/.*\.php$ - [F,L]

# Redirige todo excepto archivos y carpetas existentes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Reescribe la URL para que todo pase por index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
